body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Anton, Arial, Sans-serif;
  }
  
  header {
    background: url('../../assets/site/lampos-aritonang-24gR_9lCdes-unsplash1.png');
    height: 600px;;
    background-size: cover;
    max-height: 667px;
    min-height: 380px;
  }
  .header-text {
    color: #ffd15b;
    font-size: 2.5rem;
    text-align: center;
    margin: 12% auto 0;
    width: 69%;
}
.header-logo {
    height: 25px;
    width: 207px;
    margin-top: 50px;
    margin-left: 70px;
  }
  .header-input-elements {
    padding-top: 20px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.header-input {
    width: 80%;
    
    padding-right: 40px;
    height: 72px;
    border-radius: 11px;
    border: none;
    font-size: 22px;
    padding-left: 20px;
}
/* Styles pour l'icône de recherche */
.fa-stack {
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  right: 90px; /* Ajustez la position selon vos besoins */
}

.fa-stack .fa-stack-2x {
  color: #070606; /* Couleur du carré de fond */
}

.fa-stack .fa-stack-1x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Couleur de l'icône de recherche */
}
.clear-search-btn {
  position: relative;
  right: 90px;
  top:25px;
  transform: translateY(-50%);
  cursor: pointer;
  color:rgb(122, 122, 122);
  font-size: 2.5rem; /* Taille de la police */
  display: none;
}
/* Conteneur des cartes de recettes */
#recipeList {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur plusieurs lignes si nécessaire */
  justify-content: space-between; /* Pour espacer les cartes de manière égale sur la ligne */
  gap: 5px;
  padding: 20px;
}

/* Style de base des cartes de recettes */
.recipe-card {
  width: calc(33.33% - 10px); /* Largeur de chaque carte (33.33% pour trois cartes sur la même ligne) */
  margin-bottom: 20px; /* Marge en bas pour séparer les lignes */
  box-sizing: border-box; /* Pour inclure les marges et bordures dans la largeur */
  border: 1px solid #ccc; /* Bordure de chaque carte */
  background-color: #fff;
  padding: 10px; /* Espacement interne des cartes */
}

/* Style spécifique pour l'image dans les cartes */
.recipe-card  {
  border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .1);
    height: 645px;
    width: 380px;
    padding: 0px;
    background-color: #fff;
    overflow: hidden;
}
main {
  padding: 60px 100px;
  background: #ededed;
  height: 100%;
}
.recipe-title {
  font-family: Anton, Arial, Sans-serif;
  font-size: 18px;
  font-weight: bold; /* Définit le texte en gras */
  margin-top: 0;
  padding-left: 15px;
}
.recipe-section-title{
  font-family: Manrope, Arial, Sans-serif;
    font-size: 12px;
    padding: 0 15px 3px;
    font-weight: 700;
    color:#7a7a7a;
    margin-bottom: 10px;
}
.recipe-descriptions {
  font-family: Manrope, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px 0px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 104px;
  line-height: 1.2em;
  margin-bottom: 0;
  display: -webkit-box;
}

.recipe-image{
  width:380px;
    height: 253px;
    border-radius: 5px;
    object-fit: cover;

}
.recipe-duration{
  font-size: 12px;
    font-weight: 400;
    position: relative;
    background-color:#ffd15b;
    bottom: 240px;
    left: 300px;
    height: 23px;
    width: 65px;
    border-radius: 14px;
    display: block;
    text-align: center;
    padding-top: 5px;
}
.recipe-ingredient-list{
  font-family: Manrope, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style-type: none;
}
.ingredient{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.quantity-unit{
  font-family:Manrope, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7a7a7a;
}
.IngredientsName{
  font-family:Manrope, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: -5px;
    margin-top: -5px;
}/* Style pour le bouton dropdown */
.dropdown-btn {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Aligne les éléments sur les bords du conteneur */
  align-items: center; /* Centre les éléments verticalement */
  text-align: center;
  outline: none;
}

.dropdown-btn div {
  display: flex;
  align-items: center; /* Centre les éléments verticalement */
  gap: 40px;
}


/* Style pour le contenu du dropdown */
.dropdown-content {
  display: none;
  padding: 5px;
  background-color: #f9f9f9;
  overflow: hidden;
  border: 1px solid #ddd;
}

/* Style pour le chevron */
.fa-chevron-down {
  transition: transform 0.3s ease; /* Animation de transition */
}

/* Style pour le chevron lorsque le bouton est ouvert */
.dropdown-btn.active .fa-chevron-down {
  transform: rotate(180deg); /* Rotation du chevron */
}
.dropdowns{
  display: flex;
  gap: 40px;
}



